In [1]:
import pandas as pd
import plotly.express as px
import openpyxl

In [ ]:
data_frame = pd.read_excel(
    io = 'supermarkt_sales.xlsx',
    engine = 'openpyxl',
    sheet_name = 'Sales',
    skiprows = 3,
    usecols = 'B:R',
    nrows = 1000,
)
data_frame

## grup product line & total

In [10]:

data_frame.groupby(by=["Product line"]).sum()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
Product line,,,,,,,,
Electronic accessories,9103.77,971,2587.5015,54337.5315,51750.03,809.523810,2587.5015,1177.2
Fashion accessories,10173.35,902,2585.9950,54305.8950,51719.90,847.619048,2585.9950,1251.2
Food and beverages,9745.54,952,2673.5640,56144.8440,53471.28,828.571429,2673.5640,1237.7
Health and beauty,8337.88,854,2342.5590,49193.7390,46851.18,723.809524,2342.5590,1064.5
Home and lifestyle,8850.71,911,2564.8530,53861.9130,51297.06,761.904762,2564.8530,1094.0
Sports and travel,9460.88,920,2624.8965,55122.8265,52497.93,790.476190,2624.8965,1148.1

In [11]:
data_frame.groupby(by=["Product line"]).sum()[["Total"]]

                             Total
Product line
Electronic accessories  54337.5315
Fashion accessories     54305.8950
Food and beverages      56144.8440
Health and beauty       49193.7390
Home and lifestyle      53861.9130
Sports and travel       55122.8265

In [12]:
data_frame.groupby(by=["Product line"]).sum()[["Total"]].sort_values(by="Total")

                             Total
Product line
Health and beauty       49193.7390
Home and lifestyle      53861.9130
Fashion accessories     54305.8950
Electronic accessories  54337.5315
Sports and travel       55122.8265
Food and beverages      56144.8440

convert hours column

In [13]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer_type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   datetime64[ns]
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 132.9+ KB

In [19]:
data_frame["hour"] = data_frame["Time"].dt.hour

AttributeError: Can only use .dt accessor with datetimelike values

In [20]:
data_frame["hour"]  = pd.to_datetime(data_frame["Time"],format="%H:%M:%S").dt.hour
data_frame["hour"]

0      13
1      10
2      13
3      20
4      10
       ..
995    13
996    17
997    13
998    15
999    13
Name: hour, Length: 1000, dtype: int64

0      13:08:00
1      10:29:00
2      13:23:00
3      20:33:00
4      10:37:00
         ...
995    13:46:00
996    17:16:00
997    13:22:00
998    15:33:00
999    13:28:00
Name: Time, Length: 1000, dtype: object