In [1]:
import pandas as pd
import plotly.express as px
import openpyxl

In [ ]:
data_frame = pd.read_excel(
    io = 'supermarkt_sales.xlsx',
    engine = 'openpyxl',
    sheet_name = 'Sales',
    skiprows = 3,
    usecols = 'B:R',
    nrows = 1000,
)
data_frame

## grup product line & total

In [ ]:

data_frame.groupby(by=["Product line"]).sum()

In [ ]:
data_frame.groupby(by=["Product line"]).sum()[["Total"]]

In [ ]:
data_frame.groupby(by=["Product line"]).sum()[["Total"]].sort_values(by="Total")

convert hours column

In [ ]:
data_frame.info()

In [ ]:
data_frame["hour"] = data_frame["Time"].dt.hour

In [ ]:
data_frame["hour"]  = pd.to_datetime(data_frame["Time"],format="%H:%M:%S").dt.hour
data_frame["hour"]

In [7]:
import pandas as pd 
dataframe = pd.read_excel('supermarkt_sales.xlsx')
dataframe.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,Sales 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Invoice ID,Branch,City,Customer_type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
3,NaN,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2021-01-05 00:00:00,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
4,NaN,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2021-03-08 00:00:00,10:29:00,Cash,76.4,4.761905,3.82,9.6